.logoImage {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration:none
}
.navLinks {
    color: var(--dark-grey, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none
}
.v-line {
    width: 1px;
    height: 39px;
    background: #BEBEBE;
}
.cta-btn {
    display: inline-flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: var(--teal, #1ABC9C);
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none
}

.footerHeading {
    color: var(--dark-grey, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.footerLink a{
    color: var(--medium-gray, #605F5F);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration:none;
}
#dropdown-basic {
    background: none !important;
    border:none;
}
#dropdown-basic:hover {
    border-radius: 5px;
    background: var(--white-gray, #EDEDED) !important;
    color: var(--dark-grey, #333) !important;
}
#dropdown-basic.show {
    border-radius: 5px;
    background: var(--white-gray, #EDEDED) !important;
    color: var(--dark-grey, #333) !important;
}
.resourseHeading {
    color: var(--dark-grey, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.resourseText {
    color: var(--medium-gray, #605F5F);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    white-space:normal;
}
.dropdown-item:focus {
    background-color:var(--white-gray, #EDEDED) !important; 
}
.dropdown-item:hover {
    background-color: var(--white-gray, #EDEDED) !important;
}
.dropdown-menu {
    width: 320px
}
.footer{
    border-top: 1px solid #bebebe
}
