.heroTitle {
    color: var(--dark-grey, #333);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.heroText {
    color: var(--medium-gray, #605F5F);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.heroSecTopText {
    color: var(--teal, #1ABC9C);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.heroSecTitle {
    color: var(--dark-grey, #333);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.heroBottomText {
    color: var(--medium-gray, #605F5F);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.reviewSec {
    color: var(--dark-grey, #333);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.reviewName {
    color: var(--teal, #1ABC9C);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.statNumber {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.statText {
    color: var(--medium-gray, #605F5F);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.tagLine {
    color: var(--dark-grey, #333);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
